<div class="container">

  <h2 class="mb-5">Angular Razorpay Payment Gateway Example</h2>

  <div class="col-md-4 mb-3">
    <button (click)="createRzpayOrder(20)" class="btn btn-primary btn-block">Pay INR 20</button>
  </div>
  <div class="col-md-4 mb-3">
    <button (click)="createRzpayOrder(30)" class="btn btn-primary btn-block">Pay INR 30</button>
  </div>
  <div class="col-md-4">
    <button (click)="createRzpayOrder(40)" class="btn btn-primary btn-block">Pay INR 40</button>
  </div>
</div>